* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

#Btn {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

section {
  margin-left: 40px;
}
